In [8]:
import numpy as np
import pandas as pd


data=pd.read_csv('titanic_data.csv', sep=',')
data.head()
#Replacing females as 1 and males as 0
data=data.replace({'female': 1}, regex=True)
data=data.replace({'male': 0}, regex=True)
data.head()
#replacing all embarked S with 0 and C with 1
data=data.replace({'S':0}, regex=True)
data=data.replace({'C':1}, regex=True)
data.head()

   PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked
0            1         0       3    0   22      1      0   7.2500        0
1            2         1       1    1   38      1      0  71.2833        1
2            3         1       3    1   26      0      0   7.9250        0
3            4         1       1    1   35      1      0  53.1000        0
4            5         0       3    0   35      0      0   8.0500        0

In [11]:
#To find the relation between sex and age creating a dataset called 
#sex_and_survived

sex_and_survived=data[['Sex', 'Survived']]
print sex_and_survived.head()

   Sex  Survived
0    0         0
1    1         1
2    1         1
3    1         1
4    0         0

In [12]:
#Finding the correlation between sex and survived. We can see that it is pretty positively 
#correlated.
correlation_sex_survived=sex_and_survived.corr('pearson')
print correlation_sex_survived

               Sex  Survived
Sex       1.000000  0.543351
Survived  0.543351  1.000000

In [14]:
#Now let's try this with all the variables and survived.
pclass_and_survived=data[['Pclass', 'Survived']]
correlation_pclass_survived=pclass_and_survived.corr('pearson')
print correlation_pclass_survived

age_and_survived=data[['Age', 'Survived']]
correlation_age_survived=age_and_survived.corr('pearson')
print correlation_age_survived

sibsp_and_survived=data[['SibSp', 'Survived']]
correlation_sibsp_survived=sibsp_and_survived.corr('pearson')
print correlation_sibsp_survived

parch_and_survived=data[['Parch', 'Survived']]
correlation_parch_survived=parch_and_survived.corr('pearson')
print correlation_parch_survived

fare_and_survived=data[['Fare', 'Survived']]
correlation_fare_survived=fare_and_survived.corr('pearson')
print correlation_fare_survived

embarked_and_survived=data[['Embarked', 'Survived']]
correlation_embarked_survived=embarked_and_survived.corr('pearson')
print correlation_embarked_survived

            Pclass  Survived
Pclass    1.000000 -0.338481
Survived -0.338481  1.000000
               Age  Survived
Age       1.000000 -0.077221
Survived -0.077221  1.000000
             SibSp  Survived
SibSp     1.000000 -0.035322
Survived -0.035322  1.000000
             Parch  Survived
Parch     1.000000  0.081629
Survived  0.081629  1.000000
              Fare  Survived
Fare      1.000000  0.257307
Survived  0.257307  1.000000
          Survived
Survived         1